choice-box .popup {
    -fx-background-color: #2A363F; /* Цвет фона всплывающего окна */
    -fx-border-color: #000000; /* Цвет границы всплывающего окна */
    -fx-font-size: 14px; /* Размер шрифта всплывающего окна */
}

/* Стили для элементов внутри всплывающего окна (например, ListItem) */
.choice-box .list-view .list-cell {
    -fx-background-color: #2A363F; /* Цвет фона элемента */
    -fx-text-fill: #000000; /* Цвет текста элемента */
}

/* Стили для выделенного элемента внутри всплывающего окна */
.choice-box .list-view .list-cell:selected {
    -fx-background-color: #0066cc; /* Цвет фона выделенного элемента */
    -fx-text-fill: #ffffff; /* Цвет текста выделенного элемента */
}